.wrapper {
    display:grid;
    grid-template-columns: 50% 49.5%;
    grid-column-gap: 1vh;
    grid-row-gap: 1vh;
    grid-auto-rows: 48vh;
    color: black;
    font-family: 'Signika', sans-serif;
    font-size: 5vh;
    text-align: center;
}
.wrapper > div{
    background: #eee;
    padding: 1em;
    border: 1px solid black;
}
.wrapper > div:hover {
    background-color: lightskyblue;
}
a {
    height: 100%;
    width: 100%;
    text-decoration:none;
    display: block;
    line-height: 32vh;
}
a:visited {
    color: black;
}

p {
    color: black;
    font-family: 'Signika', sans-serif;
    font-size: 15px;
}

h1 {
    color: black;
    font-family: 'Signika', sans-serif;
    font-size: 35px;
}

h2 {
    color: black;
    font-family: 'Signika', sans-serif;
    font-size: 20px;
    text-align:center;
}



