.hidden {
    display: none;
}

.shown {
    background-color: lightgreen;
}

.button {
    height: 50px;
    width: 200px;
    display: inline-block;
    color: black;
    font-family: 'Signika', sans-serif;
    font-size: 20px;
    line-height: 50px;
    text-align:center;
    border: 1px solid black;
    user-select: none;
}

.button:hover {
    background-color: lightskyblue;
}

.shown:hover {
    background-color: lightgreen;
}

.graph {
    height:300px;
    width: 100%;
}

