
#game {
    text-align:center;
    margin: 0 auto;
    width: 1230px;
    height: auto;
}

.col {
    display: inline-grid;
    width: 40px;
    height: 40px;
    background-color: hsl(0, 0%, 71%);
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    vertical-align: top;
    font-family: 'Signika', sans-serif;
    user-select: none;
    color: black;
    font-size: 20px;
    line-height: 40px;
}

.col:hover {
    background-color: #eee;
}

.col.searched {
    background-color: hsl(204, 86%, 53%);
}

.col.path {
    background-color: hsl(48, 100%, 67%);
}

.col.start {
    background-color: hsl(171, 100%, 41%);
}

.col.end {
    background-color: hsl(348, 100%, 61%);
}

.col.start:hover {
    background-color: lightgreen;
}

.col.end:hover {
    background-color: pink;
}

.col.searched:hover {
    background-color: #eee;
}

.col.wall {
    background-color: black;
}

.col.wall:hover {
    background-color: grey;
}

#reset {
    height: 50px;
    width: 200px;
    display: inline-block;
    color: black;
    font-family: 'Signika', sans-serif;
    font-size: 20px;
    line-height: 50px;
    text-align:center;
    border: 1px solid black;
    user-select: none;
}

#reset:hover {
    background-color: lightskyblue;
}

#back {
    height: 50px;
    width: 200px;
    display: inline-block;
    color: black;
    font-family: 'Signika', sans-serif;
    font-size: 20px;
    line-height: 50px;
    text-align:center;
    border: 1px solid black;
    user-select: none;
}

#back:hover {
    background-color: lightskyblue;
}

a {
    display:block;
    text-decoration:none;
}

